
/* navbar */

.nav-bar-container {
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  height: 60px;
  width: 100%;
  text-decoration: none;
  /* background-color: gray; */
}

.nav-bar-left-container {
  display: grid;
  grid-column-start: 2;
  height: 60px;
  width: auto;
  justify-content: start;
  align-items: center;
  font-family: lora;
  /* font-weight: bold; */
  /* background-color: orange; */
}

.nav-bar-right-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 60px;
  justify-content: end;
  align-items: center;
  font-family: source sans pro;

}

.nav-bar-item {
  display:grid;
  margin-left: 60px;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.nav-bar-item:hover {
  text-decoration: underline #ed5f4a;;
  color:  #ed5f4a;

}

.logo {
  text-decoration: none;
  font-size: 24px;
  color: rgb(58, 58, 58);

}

/* slogan */

.slogan-container {
  display: grid;
  grid-template-rows: 150px auto 150px;
  grid-template-columns: auto 600px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slogan {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 32px;
  line-height: 35px;
  font-family: lora;
  color: rgb(58, 58, 58);
}

.projects-container {
  display: grid;
  grid-template-rows: auto 250px 250px 250px;
  grid-template-columns: auto 800px auto;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;
  color: rgb(58, 58, 58);
  margin-bottom: 100px;
}

.project-1, .project-2, .project-3 {
  display: grid;
  grid-template-columns: 300px 500px;
  grid-column-start: 2;
  height: 100%;
};

.project-section-header, .about-me-section-header {
  /* background-color: orange; */
}
.project-section-header, .about-me-section-header {
  grid-column-start: 2;
  /* background-color: orange; */
}

.project-head, .project-head-2 {
  color: rgb(58, 58, 58);
  display: grid;
  margin-bottom: -5px;
  font-size: 26px;
  /* font-weight: bold; */

  /* background-color: green; */
}

.line {
  height: 1px;
  width: 800px;
  border: 0;
  border-top: 1px solid rgb(58, 58, 58);;
  margin: 0px;
  margin-bottom: 20px;
}

.image-container{
  display: grid;
  max-height: 100%;
  align-self: center;
  justify-self: center;
  border-radius: 3px;
  /* background-color: yellow; */
}

.text-container {
  display: grid;
  grid-template-columns: 30px 290px 80px 10px 90px;
  grid-template-rows: 90px 90px auto 40px; 
  /* background-color: orange; */
}

.project-title {
  display: grid;
  align-items: end;
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: lora;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 10px;
  color: rgb(58, 58, 58);
  color: #ed5f4a;
  /* background-color: yellow; */
}

.project-paragraph, .github, .live-site{
  font-family: source sans pro;
  text-decoration: none;
}

.project-paragraph{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  line-height: 22px;
  font-size: 16px;
  font-weight: 100;
  font-family: lora;
  font-weight: 400;
  font-size: 14px;
  color: rgb(99, 99, 99);
  /* background-color: orange; */
}

.github, .live-site {
  display: grid;
  color: #ed5f4a;
  justify-self: stretch;
  justify-content: center;
  align-items: center;
  border: 1px solid #ed5f4a;
  border-radius: 3px;
  font-size: 14px;
  transition: ease .1s;
}

.github:hover, .live-site:hover, .email:hover {
  color: white;
  background-color: #ed5f4a;

}
.github {
  grid-column-start: 3;
  grid-row-start: 3;
  /* background-color: #ef5349 */
}

.live-site {
  grid-column-start: 5;
  grid-row-start: 3;
  /* background-color: rgb(0, 255, 106); */
}


/* about me */

.about-me-container {
  display: grid;
  grid-template-rows: auto auto 50px;
  grid-template-columns: auto 800px auto;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-me-section-header {
  grid-row-start: 1;
  grid-column-start: 2;
}

.about-me-details {
  grid-row-start: 2;
  display: grid;
  grid-column-start: 2;
  grid-template-columns: 300px auto 50px;
  grid-template-rows: 10px 50px 50px 50px 10px auto 10px;
  font-family: lora;
  color: rgb(99, 99, 99);
  font-size: 14px;
  line-height: 20px;
}

.profile-image {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: center;
  border: 1px solid #ed5f4a;
  border-radius: 100px;
}

.paragraph {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  /* background-color: orange; */
  align-self: center;
}

.icons {
  grid-column-start: 2;
  grid-row-start: 5; 
}
.icon-image {
  max-width: 40px;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 3px;
}

.project-head-2 {
  justify-content: end;
}

.contact-container {
  font-family: lora;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: rgb(245, 245, 245);
  margin-bottom: 100px;
}

.interested-text {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(58, 58, 58);
}

.email {
  font-size: 15px;
  color: #ed5f4a;
  border: 1px solid #ed5f4a;
  padding: 8px 20px;
  border-radius: 3px;
  text-decoration: none;
}

.technologies-container {
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: auto auto;
}
.technologies-header {
  grid-row-start: 1;
  grid-column-start: 2;
  margin-bottom: 30px;
}
.technologies-grid {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 10px;
  margin-bottom: 100px;
}

.technologies-grid-image {
  display: grid;
  justify-self: stretch;
  justify-content: center;
}

.technologies-grid-text {
  align-self: center;
  font-family: source sans pro;
  font-size: 14px;
  color: rgb(99, 99, 99);
}

.footer-container {
  width: 100%;
  height: 50px;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: source sans pro;
  font-size: 14px;
  color: rgb(99, 99, 99);
}

.fab {
  margin-right: 10px;
  font-size: 25px;
}

.icon-text-links {
  text-decoration: none;
  margin-right: 10px;
  color: rgb(154, 154, 154);
  font-family: source sans pro;
  font-size: 15px;
  

}
.icon-text-links:hover, .fab:hover {
  color: #ed5f4a;
}
